* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

header {
    height: 80px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    text-decoration: none;
    margin: 0 50px;
    font-size: 20px;
    color: #ffffff;
    transition: 0.5s;
}

header a:hover {
    font-size: 28px;
}

.container-1 {
    background: url("./img/background.png") center;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 300px;
}

.head-line h1 {
    font-size: 100px;
    margin-top: 120px;
    margin-bottom: 20px;
    line-height: 120px;
}

.head-line p {
    font-size: 40px;
    margin-left: 3px;
    font-weight: 600;
}

.meet-me {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.meet-me a {
    text-decoration: none;
    margin: 0 50px;
    margin-top: 80px;
}

.meet-me button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    width: 300px;
    height: 60px;
    border-radius: 15px;
    cursor: pointer;
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    transition: 0.5s;
}

.meet-me button:hover {
    width: 350px;
    height: 70px;
    font-size: 35px;

}

.container-2 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 130px 0;
}

.container-2 h1 {
    margin-top: 50px;
    font-size: 65px;
}

.container-2 img {
    margin-top: 85px;
    width: 100%;
}

.container-2 div {
    width: 700px;
}

.container-2 p {
    font-weight: 500;
    font-size: 30px;
    margin-top: 20px;
}

.container-3 {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.container-3 h1 {
    font-size: 65px;
    margin-bottom: 100px;
}

.projetos {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card {
    border-radius: 20px;
    padding: 15px;
    width: 700px;
    max-height: 770px;
    margin-bottom: 50px;
}

.card img {
    width: 100%;
    border-radius: 15px;

}

.card h3 {
    font-size: 26px;
    margin: 15px 0;
}

.card p {
    font-size: 20px;
    margin-bottom: 20px;
}

.card button {
    width: 220px;
    height: 37px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
}

.card button:hover {
    color: #000000;
    background-color: rgb(206, 206, 206);
}

.me-git {
    margin-top: 20px;
    text-decoration: none;
    color: gray;
    font-size: 20px;
    transition: 0.6s;
}

.me-git:hover {
   
    color: rgb(0, 0, 0);
    font-size: 24px;
}


.container-4 {
    margin-top: 170px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.container-4 h1 {
    font-size: 65px;
}

.habilidades {
    margin-top: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.habilidades div {
    background: #F0F0F0;
    box-shadow: 9px 10px 13px -3px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    font-weight: 600;
    font-size: 20px;
    max-width: 700px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 25px;
    transition: 0.5s;
}

.habilidades div:hover {
    background: #e6e5e5;
    box-shadow: 24px 25px 28px -18px rgba(0, 0, 0, 0.25);
}


.habilidades div p {
    margin-left: 45px;
    max-width: 400px;

}